<!doctype html>
<html>

<head>
    <title>Hello, Vue!</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="할 일!" v-model="inputTodo" v-on:keyup.enter="addTodo">
        <button v-on:click="addTodo">추가</button>
        <ul>
            <li v-for="(todo, index) in todos" v-on:click="removeTodo(index)">
                {{ todo }}
            </li>
        </ul>
    </div>

    <script src="vue.js "></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                todos: [
                    '빨래하기',
                    '출근하기',
                    '청소하기'
                ],
                inputTodo: ''
            },
            methods: {
                addTodo: function() {
                    this.todos.push(this.inputTodo);
                    this.inputTodo = '';
                },
                removeTodos: function(index) {
                    this.todos.splice(index, 1)
                }
            }
        });
    </script>
</body>

</html>